/*projetos*/
.projeto-container{
    background-color: #dbddd9;
}

.flex{
    display: flex;
}

.flex_mod{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-right: .5rem;
}
.flex_mod img{
    margin-right: .5rem;
    height: 120px;
    width: 100%;

    align-items: center;
    border-radius: 9999px;
    border: solid #53e3fc;
    transition: .3s all ease;
}

.flex_mod img:hover {
    transform: scale(1.3);
}